@import "../../sass/variables";

.intro-block {
  display: block;
  padding: 100px 0 200px;
  background-color: $blue;
  text-align: center;
}

.intro-block-title {
  color: $white;
  font-family: $poppins;
  font-size: 52px;
  font-weight: 500;
  line-height: 1.2em;
  text-transform: lowercase;
  margin: 0 0 30px 0;

  span {
    font-weight: 600;
  }
}

.cta {
  padding: 10px 20px;
  border-radius: 10px;
  color: $blue;
  font-size: 18px;
  background-color: $white;
  text-decoration: none;
  display: inline-block;
  font-family: $poppins;
  text-transform: lowercase;
}